.admin-page {
  width: 100%;
}

.adding-panel {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  float: left;
  width: 37%;
  height: 95%;
  padding: 1rem;
}

.preview-panel {
    border: 1px solid #ccc;
  border-radius: 0.25rem;
  float: right;
  width: 55%;
  padding: 1rem;
  height: 95%;
}
